.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin: 0 100px;

        .content-left {
            margin: 24px;
            width: 20%;
            background: center center no-repeat;
            background-size: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        .content-righ {
            margin-top: 12px;
            width: 80%;

            .title-doctor {
                font-size: 24px;
                font-weight: 600;
            }

            .intro-self {
                margin-top: 12px;
            }
        }
    }

    .schedule-doctor {
        width: 50%;
        margin: 0 100px;
    }

    .detail-infor-doctor {
        // padding-top: 22px;
        padding: 10px 100px;
        background: #f9f9f9;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        img {
            padding-top: 12px;
            padding-bottom: 12px;
            width: 100%;
        }
    }

    .comment-doctor {
        height: 100px;
    }

}